
/* src/styles/footer.css */

.footer {
  background: rgb(10, 10, 68);
  color: white;
  padding: 40px 20px;
  margin-top: 2%; /* Byakomeza nka mbere */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Gutuma bishobora kujya munsi iyo screen ntoya */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-links,
.footer-socials {
  flex: 1;
  min-width: 200px; /* Gutuma bidafatana cyane */
  margin: 10px;
}

.footer-info h2 {
  color: #00bfff; /* Icyangugu gito cy'ibara */
}

.footer-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.footer-links h3,
.footer-socials h3 {
  margin-bottom: 15px;
  color: #ddd;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #00bfff;
}

.footer-socials a {
  color: white;
  font-size: 24px;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #00bfff;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-socials a {
    margin: 0 10px;
  }
}

